<section>
  <%= render partial: 'components/header', locals: { resource: @restaurant } %>

  <div class="grid">
    <div class="offset-sixth two-thirds offset-eighth-mobile three-fourths-mobile">
      <div class="carousel-main">
        <% @restaurant.pictures.each do |picture| %>
          <div class="carousel-image" style="background-image: url(<%= picture.large %>);"></div>
        <% end %>
      </div>

      <ul class="restaurant-details">
        <li class="restaurant-neighborhood"><%= @restaurant.neighborhood_name %></li>
        <li class="restaurant-name"><%= @restaurant.name %></li>
        <li class="restaurant-cost"><%= @restaurant.cost %></li>
        <li class="restaurant-description"><%= @restaurant.description %></li>
        <% if @yelp_data %>
          <li class="yelp-rating"><%= image_tag(@yelp_data.rating_url) %></li>
          <li class="restaurant-reservations">Reservations: <%= @restaurant.reservations ? 'Yes' : 'No' %></li>
          <li class="yelp-phone">
            <%= browser.device.mobile? ? link_to("Call Us", @yelp_data.phone_mobile) : @yelp_data.phone %>
          </li>
          <li class="yelp-address"><%= @yelp_data.address %></li>
        <% end %>
      </ul>

      <div class="restaurant-map" id="map">
      </div>

      <% if @instagram_data %>
        <div class="restaurant-instagram carousel-instagram">
          <% @instagram_data.media.each_slice(6) do |group| %>
            <div class="group">
              <% group.each do |media| %>
                <div class="carousel-image" style="background-image: url(<%= media %>);"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>