<section>
  <%= render partial: 'components/header', locals: { resource: @restaurant } %>

  <div class="grid">
    <div class="offset-sixth two-thirds offset-eighth-mobile three-fourths-mobile">
      <div class="carousel-main">
        <% @restaurant.pictures.each do |picture| %>
          <div class="carousel-image" style="background-image: url(<%= picture.large %>);"></div>
        <% end %>
      </div>

      <ul class="restaurant-details">
        <li class="restaurant-neighborhood"><%= @restaurant.neighborhood_name %></li>
        <li class="restaurant-name"><%= @restaurant.name %></li>
        <li class="restaurant-cost"><%= @restaurant.cost %></li>
        <li class="restaurant-description"><%= @restaurant.description %></li>
        <li class="yelp" data-yelp="rating-url"></li>
        <li class="restaurant-reservations">Reservations: <%= @restaurant.reservations ? 'Yes' : 'No' %></li>
        <% if browser.device.mobile? %>
          <li class="yelp" data-yelp="phone-mobile"></li>
        <% else %>
          <li class="yelp" data-yelp="phone"></li>
        <% end %>
        <li class="yelp" data-yelp="address"></li>
      </ul>

      <div class="restaurant-map" id="map">
      </div>

      <% if @restaurant.instagram %>
        <p class="restaurant-instagram">#<%= @restaurant.instagram %></p>
        <div class="restaurant-instagram carousel-instagram">
        </div>
      <% end %>
    </div>
  </div>
</section>