<section>
  <%= render partial: 'components/nav_header', locals: { resource: @restaurant } %>

  <div class="grid">
    <div class="full-xs offset-sixth-m two-thirds-m">
      <div class="carousel-main">
        <% @restaurant.pictures.each do |picture| %>
          <div class="carousel-image" style="background-image: url(<%= picture.large %>);"></div>
        <% end %>
      </div>

      <ul class="restaurant-details">
        <%= content_tag(:li, @restaurant.neighborhood_name, class: 'restaurant-neighborhood') %>
        <%= content_tag(:li, @restaurant.name, class: 'restaurant-name') %>
        <%= content_tag(:li, @restaurant.cost, class: 'restaurant-cost') %>
        <%= content_tag(:li, @restaurant.description, class: 'restaurant-description') %>
        <%= content_tag(:li, nil, class: 'yelp', data: { yelp: 'rating-url' }) %>
        <%= content_tag(:li, "Reservations: #{@restaurant.reservations}", class: 'restaurant-reservations') %>
        <% if browser.device.mobile? %>
          <%= content_tag(:li, nil, class: 'yelp', data: { yelp: 'phone-mobile' }) %>
        <% else %>
          <%= content_tag(:li, nil, class: 'yelp', data: { yelp: 'phone' }) %>
        <% end %>
        <%= content_tag(:li, nil, class: 'yelp', data: { yelp: 'address' }) %>
      </ul>

      <div class="restaurant-map" id="map">
      </div>

      <% if @restaurant.instagram %>
        <%= content_tag(:p, "##{@restaurant.instagram}", class: 'restaurant-instagram') %>
        <div class="carousel-instagram">
        </div>
      <% end %>
    </div>
  </div>

  <div class="grid instagram-fullscreen">
    <div class="back-arrow">
      <%= inline_svg('exit') %>
    </div>

    <div class="full">
      <div class="carousel-instagram-fullscreen"></div>
    </div>
  </div>
</section>