<section class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="owl-carousel">
        <% @restaurant.pictures.each do |picture| %>
          <div class="carousel-image" style="background-image: url(<%= picture.source_url %>);"></div>
        <% end %>
      </div>

      <div class="restaurant-details">
        <p><%= @restaurant.name %></p>
        <p><%= @restaurant.neighborhood_name %></p>
        <p><%= @restaurant.cost %></p>
        <p><%= @restaurant.description %></p>
        <% if @yelp_info %>
          <div class="yelp-rating"><%= image_tag @yelp_data.rating_url %></div>
          <p>Reservations: <%= @restaurant.reservations ? 'Yes' : 'No' %></p>
          <p><%= @yelp_data.phone %></p>
          <p><%= @yelp_data.address %></p>
        <% end %>
      </div>

      <div class="restaurant-map" id="map">
      </div>

      <div class="restaurant-instagram owl-carousel">
        <% @instagram_data.media.each do |media| %>
          <div class="carousel-image" style="background-image: url(<%= media %>);"></div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: <%= @yelp_data.coordinate %>,
      zoom: 14
    });

    var marker = new google.maps.Marker({
      position: <%= @yelp_data.coordinate %>,
      map: map,
      title: "<%= @restaurant.name %>"
    });
  }
</script>

