<section>
  <div class="grid hero">
    <%= image_tag(asset_path('landing-cover-image-1.jpg'), class: 'hero-image') %>
    <div class="full hero-heading">
      <h1 class="main">Bite Club</h1>
      <h3 class="sub">Discover the best restaurants in San Francisco</h3>      
    </div>
  </div>

  <div class="grid nav-filters">
    <div class="full">
      <div class="logo">
        <%= inline_svg('logo2') %>
      </div>

      <div class="filters">
        <%= button_tag "All", class: 'button-filter', data: { filter: 'all' } %>
        <%= button_tag "Theme", class: 'button-filter', data: { filter: 'list' } %>
        <%= button_tag "Cuisine", class: 'button-filter', data: { filter: 'cuisine' } %>
        <%= button_tag "Neighborhood", class: 'button-filter', data: { filter: 'neighborhood' } %>
      </div>

      <%= content_tag(:div, nil, class: 'fb-share-button', data: { href: request.base_url, layout: 'button' }) %>
    </div>
  </div>

  <div class="grid landing-cards">
    <% @lists.each do |list| %>
      <%= content_tag(:div, class: 'full-xs half-s third-m', data: { type: list.type }) do %>
        <%= link_to list do %>
          <%= content_tag(:div, nil, class: 'card', style: "background-image: url(#{list.picture_url})") %>
          <%= content_tag(:div, class: 'content') do %>
            <%= content_tag(:span, list.name) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>

<% content_for :meta_tags do %>
  <%= fb_meta_tags %>
<% end %>