<section>
  <div class="grid hero">
    <%= image_tag(asset_path('landing-cover-image-1.jpg'), class: 'hero-image') %>
    <div class="full hero-heading">
      <h1 class="main">Bite Club</h1>
      <h3 class="sub">Discover the best restaurants in San Francisco</h3>      
    </div>
  </div>

  <div class="grid filters">
    <div class="full">
      <%= button_tag "All", class: 'button-filter', data: { filter: 'all' } %>
      <%= button_tag "Theme", class: 'button-filter', data: { filter: 'list' } %>
      <%= button_tag "Cuisine", class: 'button-filter', data: { filter: 'cuisine' } %>
      <%= button_tag "Neighborhood", class: 'button-filter', data: { filter: 'neighborhood' } %>
    </div>
  </div>

  <div class="grid cards">
  </div>
</section>