<section class="container-fluid">
  <div class="list">
    <div class="row heading">
      <div class="col-md-12">
        <div class="card">
          <div class="back-arrow">
            <%= link_to :back do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
            <% end %>
          </div>
          <div class="content">
            <span class="list-name"><%= @list.name %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row list-cards">
      <% @list.restaurants.each do |restaurant| %>
        <div class="col-xs-6 col-md-4">
          <%= link_to restaurant do %> 
            <div class="list-card" style="background-image: url(<%= restaurant.picture_url %>)">
              <div class="list-content">
                <p class="restaurant-main"><%= restaurant.name %></p>
                <p class="restaurant-sub">
                  <span class="cuisine-names"><%= restaurant.cuisine_names %></span>
                  <% if restaurant.cuisine_names && restaurant.neighborhood_name %>
                    <span>&mdash;</span>
                  <% end %>
                  <span class="neighborhood-name"><%= restaurant.neighborhood_name %></span>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>